<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (currentUser) {%>
    <div class="signUpPage">
      <div class="signUpLeftSide">
        <img class="signUpImg" src="https://wallpaperaccess.com/full/2902731.png" alt="sign-up image">
      </div>
      <div class="signUpRightSide">
        <div class="signUpRightSideContentContainer">
          <svg class="bwitterLogo" viewBox="0 0 24 24">
            <g>
              <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
            </g>
          </svg>
          <div class="happeningNowContainer">
            <p class="happeningNow">Welcome Back <%= currentUser.username %></p>
          </div>
          <div class="goToHomepageContainer">
            <p class="goToHomepage">Go to your</p>
            <a href="/homepage">
              <button class="homepageButton">Homepage</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="signUpPage">
      <div class="signUpLeftSide">
        <img class="signUpImg" src="https://wallpaperaccess.com/full/2902731.png" alt="sign-up image">
      </div>
      <div class="signUpRightSide">
        <div class="signUpRightSideContentContainer">
          <svg class="bwitterLogo" viewBox="0 0 24 24">
            <g>
              <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
            </g>
          </svg>
          <div class="happeningNowContainer">
            <p class="happeningNow">Happening now</p>
          </div>
          <div class="joinBwitterContainer">
            <p class="joinBwitter">Join Bwitter today.</p>
          </div>
          <div class="signUpBottom">
            <a class="signUpAnchor" href="/sign-up">
              <button class="signUpButton">Sign up</button>
            </a>
            <form class="logInForm" action="/log-in" method="POST">
              <p class="signInText">Already have an account? Sign in</p>
              <input class="formText" name="username" placeholder="username" type="text" />
              <input class="formText" name="password" placeholder="password" type="password" />
              <button class="signUpButton">Log In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <%}%>
    <style>
      html, body{
        height: 100%;
      }
      body{
        margin: 0px;
        font-family: Helvetica, Arial, sans-serif;
      }
      a{
        display: inline-block;
      }
      .signUpPage{
            display: flex;
            height: 100%;
        }
        .signUpLeftSide{
          min-height: 45vh;
          overflow: hidden;
          height: 100%;
          flex-grow: 1;
        }
        .signUpRightSide{
          min-width: 45vw;
          padding: 16px;
          display: flex;
          align-items: center;
        }
        .signUpRightSideContentContainer{
          padding: 20px;
          width: 100%;
        }
        .bwitterLogo{
          height: 3rem;
          padding-bottom: 12px;
          fill: #ff5200;
          display: inline-block;
          align-self: flex-start;
        }
        .happeningNowContainer{
          margin-top: 48px;
          margin-bottom: 48px;
          overflow-wrap: break-word;
          letter-spacing: -1.2px;
          line-height: 84px;
        }
        .happeningNow{
          font-size: 64px;
          font-weight: 700;
          margin: 0px;
          overflow-wrap: break-word;
        }
        .joinBwitterContainer{
          margin-bottom: 32px;
          overflow-wrap: break-word;
        }
        .joinBwitter{
          font-size: 31px;
          font-weight: 700;
          line-height: 36px;
          overflow-wrap: break-word;
          margin: 0px;
        }
        .signUpBottom{
          display: flex;
          flex-direction: column;
        }
        .signUpAnchor{
          width: 87px;
        }
        .signUpButton{
          border-radius: 9999px;
          background-color: #ff5200;
          border-style: none;
          color: white;
          padding-left: 16px;
          padding-right: 16px;
          font-size: 15px;
          font-weight: 700;
          height: 34px;
        }
        .signUpButton:hover{
          cursor: pointer;
          background-color: #e0510e;
        }
        .logInForm{
          display: flex;
          flex-direction: column;
          margin-top: 40px;
        }
        .signInText{
          font-size: 17px;
          font-weight: 700;
          line-height: 20px;
          margin-bottom: 20px;
          margin-top: 0px;
        }
        .formText{
          width: 100%;
          padding: 12px 20px;
          margin-bottom: 20px;
          box-sizing: border-box;
          font-size: 17px;
        }
        .goToHomepageContainer{
          overflow-wrap: break-word;
        }
        .goToHomepage{
          font-size: 31px;
          font-weight: 700;
          line-height: 36px;
          overflow-wrap: break-word;
          margin: 0px;
          margin-bottom: 16px;
        }
        .homepageButton{
          border-radius: 9999px;
          background-color: #ff5200;
          border-style: none;
          color: white;
          padding-left: 16px;
          padding-right: 16px;
          font-size: 25px;
          font-weight: 700;
          height: 34px;
        }
        .homepageButton:hover{
          cursor: pointer;
          background-color: #e0510e;
        }
    </style>
</body>
</html>